:root {
    --text: #ffffff;
    --background: #18122B;
    --primary: #393053;
    --secondary: #443C68;
    --accent: #635985;
}

.suporteText {
    align-items: center;
    display: grid;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
    text-decoration: none !important;
    /*Tag !important serve para priorizar essa tag*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    user-select: text;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: var(--text);
}

footer {
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 15px;
    font-style: italic;
}

#main {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}