/*
# = ID
. = Class
*/


/* Definição de cores */
:root {
    --text: #ffffff;
    --background: #18122B;
    --primary: #393053;
    --secondary: #443C68;
    --accent: #635985;
}

/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    padding: 15px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Classe Links do Header*/
.headerlink {
    color: var(--text);
    text-decoration: none;
    transition: color 2s ease;
    padding: 5px 15px;
    border-radius: 5px;
}
/*Efeito-hover links do Header*/
.headerlink:hover {
    background-color: var(--accent);
}
/*Id Div Organização Links Header*/
#links {
    display: flex;
    gap: 15px;
}

#nomedosite{
    color: var(--text);
    text-decoration: none;
    transition: color 2s ease;
    padding: 5px 15px;
    border-radius: 5px;
}


#logoimg {
    width: 80px;
    height: auto;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 15px;
    font-style: italic;
}

#main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}