/*
# = ID
. = Class
*/


/* Definição de cores */
:root {
    --text: #ffffff;
    --background: #18122B;
    --primary: #393053;
    --secondary: #443C68;
    --accent: #635985;
}

/* Reset e configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; /* Remove qualquer decoração de texto (como sublinhados) */
    border: none; /* Remove as bordas de todos os elementos */
    outline: none; /* Remove o contorno de foco */
    scroll-behavior: smooth; /* Aplica rolagem suave ao clicar */
}

html {
    font-size: 60%; /* Reduz o tamanho da fonte base para 60% do padrão */
    overflow-x: hidden; /* Impede o overflow horizontal, não permitindo rolagem para os lados */
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Torna o cabeçalho fixo na parte superior da página */
    top: 0; /* Posiciona o cabeçalho no topo da tela */
    left: 0; /* Posiciona o cabeçalho à esquerda */
    width: 100%; /* O cabeçalho ocupa toda a largura da tela */
    backdrop-filter: blur(10px); /* Aplica um desfoque ao fundo do cabeçalho */
    padding: 1rem 2%; /* Define o padding interno, com 4rem de altura e 12% de largura */
    z-index: 1000; /* Garante que o cabeçalho apareça acima de outros elementos */
    background-color: rgba(39, 30, 53, 0.5); /* 50% de transparência */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/*Classe Links do Header*/
.links a{
    color: var(--text);
    text-decoration: none;
    transition: 0.3s ease; /* Transição suave ao passar o mouse sobre os links */
    padding: 5px 15px;
    border-radius: 5px;
    border-bottom: 3px solid transparent; /* Borda inferior invisível inicialmente */
    font-size: 1.8rem; /* Tamanho do texto dos links */
    margin-left: 4rem; /* Espaço à esquerda de cada link */
    font-weight: 500; /* Peso da fonte */ 
}

span {
    color: var(--accent); /* Define a cor do span como a cor principal (BIGS) */
}


/*Efeito-hover links do Header*/
.links a:hover,
.links a.active {
    color: var(--accent); /* Muda a cor do link para a cor principal */
    border-bottom: 3px solid var(--accent); /* Aplica a borda inferior com a cor principal */
}

#nomedosite{
    color: var(--text);
    text-decoration: none;
    transition: color 2s ease;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.7em !important; 
    text-shadow: 0 0 25px var(--accent); /* Aplica um efeito de sombra ao texto do logo */
}

#logoimg {
    width: 80px;
    height: auto;
}

.logo:hover {
    transform: scale(1.1); /* Aumenta o logo 10% ao passar o mouse sobre ele */
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem; /* Tamanho do texto do logo */
    color: var(--text-color); /* Cor do logo */
    font-weight: 900; /* Deixa o texto do logo bem forte */
    cursor: pointer; /* Altera o cursor para uma mãozinha quando passa sobre o logo */
    transition: 0.3s ease; /* Adiciona uma transição suave ao logo */
    
}


footer{
    bottom: 0;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    text-align: center;
    padding: 15px;
    font-style: italic;
}

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--primary);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--text-color);
    border: 2px solid var(--bg-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--second-bg-color);
    color: black;
    box-shadow: 0 0 25px var(--bg-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .name-log-footer{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

#main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}