#main{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carregando{
    color: red;
}

#radios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}