.mensagens{
    background-color: aqua;
    width: 500px;
}

.empresa{
    display: flex;
    justify-content: flex-start;
}

.candidato{
    display: flex;
    justify-content: flex-end;
}

.mensagens.minimized {
    display: none;
}
