
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Poppins", sans-serif;
}

:root {
    /* Cor do texto principal */
    --text-color: #ffffff;
    /* Cor de text (titulo, links...)*/
    --text-secondary-color: #0F4C81;
    --bg-caixa-text-color: #222;
    /* Cor principal */
    --primary: #18181B;
    /* Segunda cor de fundo */
    --bg-color: #0E0E10;
    /* cor dos botoes */
    --main-color: #0056b3;
    --btn-hover-color: #007BFF;
}

/* --------------------------ICONES--------------------- */
/*.all-icon {
    width: 1.8rem;
    height: 1.8rem;
    background: transparent;
    margin-top: 9px;
    margin-left: 1px;
}*/

/* --------------------------esqueceu a senha?/ocorreu algum erro?--------------------- */
.problema {
    color: var(--text-color);
}

.erro-mensagem {
  color: #ff0000;
  font-size: 12px;
  display: block;
  font-family: Arial, sans-serif;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 54px;
  transform: translateY(-50%);
  white-space: nowrap;
  background: #ffffff;
  border-radius: 4px;
  padding: 2px 8px;
  z-index: -3;
}
/* --------------------------Olho--------------------- */

.eye-icon {
    width: 22px;
    height: 22px;
    display: block;
}


input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#eyeIconConfirm {
    width: 20px;
    height: 20px;
}

#toggleConfirmPassword {
    display: none;
}


input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}


/* --------------------------DATA--------------------- */

/* Estilo do campo de data e username*/


#dob::placeholder {
    font-weight: bold;
}

#regUsername::placeholder {
    font-weight: bold;
}



#username::placeholder {
    font-weight: bold;
}


/* --------------------------CAIXAS PRINCIPAIS--------------------- */
.container {
    position: relative;
    width: 100%;
    background-color: var(--primary);
    min-height: 100vh;
    overflow: hidden;
}

/* --------------------------Form--------------------- */
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-cadastro {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: all 0.4s 0.4s;
}

form.transição-log-cadast {
    opacity: 0;
    z-index: 1;
}

form.transicao-login {
    z-index: 2;
}

/* -----------TITULO--------- */
.title {
    font-size: 2.2rem;
    color: var(--text-secondary-color);
    margin-bottom: 10px;
}

#title-cadastro {
    position: relative;
    top: 110px;
}

/* -----------Onde fica os caixa-text--------- */
.caixa-text {
    position: relative;
    max-width: 250px;
    width: 100%;
    border: 1px solid var(--text-color);
    background-color: var(--bg-caixa-text-color);
    margin: 10px 0;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 0.4rem;
}

.caixa-text:hover {
    background-color: #1e1e20;
}

.caixa-text button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 2;
}
 
/*.caixa-text i {
    text-align: center;
    line-height: 155px;
    color: var(--text-color);
    transition: 0.5s;
    font-size: 1.1rem;
}*/

.caixa-text input {
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.caixa-text input::placeholder {
    color: var(--text-color);
}

.caixa-text input[type="password"],
.caixa-text input[type="text"] {
    padding-right: 24px !important; /* aumenta o espaço à direita */
}

/* --------------------------CAIXAS INDIVIDUAIS--------------------- */
.caixa-email {
    position: relative;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    max-width: 600px;
    position: relative;
    left: 2px;
    top: 120px;
}
.caixa-email input{
    border-radius: 10px;
}
.caixa-senha{
    position: relative;
    right: 135px;
    top: 120px;
}

.caixa-senha-confirm {
    position: relative;
    left: 135px;
    top: 55px;
}

.caixa-senha-confirm input,
.caixa-senha input{
    width: 230px;
}

.caixa-nome input,
.caixa-sobrenome input,
.caixa-calendario input{
    width: 250px;
    border-radius: 10px;
    position: relative;
    right: 6px;
}

.caixa-nome {
    position: relative;
    right: 135px;
    top: 55px;
}

.caixa-calendario {
    position: relative;
    right: 135px;
    bottom: 10px;
}

.caixa-genero {
    position: relative;
    left: 142px;
    bottom: 63px;
}

.caixa-sobrenome {
    position: relative;
    left: 135px;
    bottom: 10px;
}



/*-------------------------------BOTOES-------------------------------*/

.btn {
    width: 150px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.btn.transparente {
    margin: 0;
    background: none;
    background-color: var(--main-color);
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.btnE{
    width: 150px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--text-color);
    font-weight: 200;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btnE.transparent{
    margin: 0;
    background: none;
    width: 130px;
    height: 41px;
    font-size: 0.8rem;
    color: var(--main-color);
}

.btnE.transparent:hover{
    color: var(--btn-hover-color);
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

#btn-cadastro {
    position: relative;
    bottom: 75px;
}

/*-------------------------------Circulo-------------------------------*/

.circulo-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, var(--bg-color) 0%, var(--bg-color) 100%);
    transition: 1.8s ease-in-out;
    border-radius: 0;
    z-index: 6;
}

/*-------------------------ANIMAÇOES------------------------ */
.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 26% 2rem 17%;
}

.panel .content {
    color: var(--text-color);
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}


.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 50%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode .login-cadastro {
    left: 25%;
}

.container.sign-up-mode form.transição-log-cadast {
    opacity: 1;
    z-index: 2;
}

.container.sign-up-mode form.transicao-login {
    opacity: 0;
    z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}


/*---------------------------GENERO INDIVIDUAL---------------------------*/

#genderSelect {
    width: 250px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid white;
    font-size: 1rem;
    outline: none;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--bg-caixa-text-color);
    margin-bottom: 16px;
    position: relative;
    top: 0px;
    left: -7px;
    transition: border-color 0.15s ease;
}

/* Container do input de gênero personalizado */
.other-gender-input-container {
    display: none;
    width: 93%;
    margin-bottom: -44px;
    position: static;
    opacity: 1;
    transition: opacity 0.3s ease;
    position: relative;
    bottom: 60px;
    left: -7px;
}

.other-gender-input-container.show {
    display: block;
}


.other-gender-input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    color: var(--text-color);
    border-radius: 5px;
    background-color: var(--bg-caixa-text-color);
}

.other-gender-input-container input[type="text"] {
    width: 100%;
    padding: 11px 14px;
    border-radius: 10px;
    border: 1px solid #ccd0d5;
    font-size: 1rem;
    outline: none;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--bg-caixa-text-color);
    transition: border-color 0.15s ease;
    margin-bottom: 0;
}

.other-gender-input-container input::placeholder{
    color: var(--text-color);
    font-weight: bold;
}


/* ----------- EMPRESA: CAIXAS INDIVIDUAIS ----------- */

#registerEmpresaForm {
    margin-top: 440px; 
}

#registerForm{
    margin-bottom: 60px; 
}

.caixa-email-empresa {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    top: 10px;
    right: 130px;
}

.caixa-telefone {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 55px;
}

.caixa-razao {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 55px;
}


.caixa-fantasia{
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 120px;
}

.caixa-cnpj {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 120px;
}

.caixa-cep {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 185px;
}

.caixa-rua {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 185px;
}

.caixa-bairro {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 250px;
}

.caixa-cidade {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 250px;
}

.caixa-estado {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 315px;
}

.caixa-numero {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 315px;
}

.caixa-complemento {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 380px;
}

.caixa-senha-empresa {
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    right: 130px;
    bottom: 380px;
}

.caixa-senha-confirm-empresa {
    max-width: 250px;
    width: 100%;
    margin: 10px 0px;
    height: 45px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 0.4rem;
    position: relative;
    left: 130px;
    bottom: 445px;
}

/* ----------- Ajustes para inputs de empresa ----------- */
#empresaCNPJ,
#empresaCNPJRegister,
#empresaRazao,
#empresaTelefone,
#empresaFantasia,
#empresaPassword,
#empresaCep,
#empresaRua,
#empresaBairro,
#empresaCidade,
#empresaEstado,
#empresaNumero,
#empresaComplemento{
    width: 250px;
    background: none;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1px;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
    right: 7px;
}

#empresaRegisterPassword,
#empresaConfirmPassword {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1px;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
    right: 7px;
}

#empresaEmail{
    width: 250px;
    background: none;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1px;
    margin-right: 8px;
    position: relative;
    bottom: 1px;
    right: 7px;
}

#empresaCNPJ::placeholder,
#empresaCNPJRegister::placeholder,
#empresaRazao::placeholder,
#empresaTelefone::placeholder,
#empresaCep::placeholder,
#empresaEmail::placeholder {
    font-weight: bold;
}

/* ----------- Botão de cadastro/login empresa ----------- */
#btn-cadastro-empresa,
#loginEmpresaBtn {
    width: 150px;
    background-color: var(--main-color);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

#btn-cadastro-empresa{
    position: relative;
    bottom: 445px;
    width: 180px;
}

#empresa-cadastro-btn {
    width: 180px;
    position: relative;
    bottom: 340px;
    right: 65px; 
}

#title-cadastro-empresa{
    position: relative;
    top: 15px;
}

#empresa-login-btn {
    width: 150px;
    position: relative;
    bottom: 340px;
    left: 260px;
}

h4 {
    color: var(--text-color);
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 500;
    position: relative;
    bottom: 311px;
    left: 110px;
}

h5 {
    color: var(--text-color);
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 500;
    position: relative;
    bottom: 311px;
    right: 220px;
}

/* ----------- EMPRESA: TRANSIÇÃO ----------- */
form#loginEmpresaForm,
form#registerEmpresaForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.4s 0.4s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

.container.sign-up-mode form#loginEmpresaForm {
    opacity: 0;
    z-index: 1;
}

.container.sign-up-mode form#registerEmpresaForm {
    opacity: 1;
    z-index: 2;
}

.container:not(.sign-up-mode) form#loginEmpresaForm {
    opacity: 1;
    z-index: 2;
}

.container:not(.sign-up-mode) form#registerEmpresaForm {
    opacity: 0;
    z-index: 1;
}

/* ----------- EMPRESA: login/cadastro ----------- */

/* Esconde todos os formulários de usuário por padrão no modo empresa */
.container.empresa-mode #loginForm,
.container.empresa-mode #registerForm {
    opacity: 0 !important;
    z-index: 1 !important;
    pointer-events: none !important;
}

.container.empresa-mode:not(.sign-up-mode) #loginEmpresaForm {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition-delay: 0.7s;
}

.container.empresa-mode.sign-up-mode #registerEmpresaForm {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition-delay: 0.7s;
}

/* Esconde formulários de empresa no modo usuário */
.container:not(.empresa-mode) #loginEmpresaForm,
.container:not(.empresa-mode) #registerEmpresaForm {
    opacity: 0 !important;
    z-index: 1 !important;
    pointer-events: none !important;
}


.container:not(.empresa-mode):not(.sign-up-mode) #loginForm {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition-delay: 0.7s;
}

.container:not(.empresa-mode) .sign-up-mode #registerForm {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition-delay: 0.7s;
}

.container:not(.empresa-mode).sign-up-mode #registerForm {
    opacity: 1;
    z-index: 2;
    pointer-events: all;
    transition-delay: 0.7s;
}

/* ----------- EMPRESA: AJUSTES RESPONSIVOS ----------- */
@media (max-width: 870px) {

    .caixa-cnpj,
    .caixa-razao,
    .caixa-telefone,
    .caixa-email-empresa,
    .caixa-senha-empresa,
    .caixa-senha-confirm-empresa {
        max-width: 100%;
        padding: 0 0.2rem;
    }

    form#loginEmpresaForm,
    form#registerEmpresaForm {
        padding: 0 1.5rem;
    }
}

/*---------------------------CELULAR---------------------------*/

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }

    .login-cadastro {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .login-cadastro,
    .container.sign-up-mode .login-cadastro {
        left: 50%;
    }

    .circulo-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }



    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container.sign-up-mode .login-cadastro {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .container {
        padding: 1.5rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}